/* the font*/
@font-face {
	font-family: "Minecraft-font";
	src: url("fonts/minecraft-ar.woff2");
	width:normal
/* the web style */
}
body {
	background-color:#000000
}
p {
	color:#6C0000;
	text-align:center;
	font-size:110%;
	font-family:Minecraft-font;
}
/* the link style */
a:link {
	text-decoration: none;
}
